
#turn {
  font-size: 25px;
}

.board {
  border: 5px solid blue;
  align: center;
  display: flex;
  max-height: 515px;
  max-width: 600px;

}

		#C1 div{
			height: 80px;
			width: 80px;
			border: 3px solid black;
		}

		#C2 div{
			height: 80px;
			width: 80px;
			border: 3px solid black;
		}

		#C3 div{
			height: 80px;
			width: 80px;
			border: 3px solid black;
		}

		#C4 div{
			height: 80px;
			width: 80px;
			border: 3px solid black;
		}

		#C5 div{
			height: 80px;
			width: 80px;
			border: 3px solid black;
		}

		#C6 div{
			height: 80px;
			width: 80px;
		  border: 3px solid black;
		}

		#C7 div{
			height: 80px;
			width: 80px;
		  border: 3px solid black;
		}


		.red {
			background-color: red;
			height: 50px;
			border-radius:75px;


		}

		.black {
			background-color: black;
			height: 50px;
			border-radius:75px;

		}

    .circle {
      width:60px;
      background-color: white;
      height: 60px;
      border: 1px solid black;
      border-radius: 100%;
      padding: 3px;
      /* flex-grow: 1; */
    }
