
@font-face {
  font-family: nasalization;

}



#turn {
  font-size: 25px;
  color: black;
}
p {
  color: white;
}

body {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;

}


.logofont {
  font-size: 40px;
  color:white;
  font-family: nasalization;
  top: 60px;
  right: 5px;
  position: absolute;



}


.sidepanel {
  align-items: center;
  float: left;
  max-width: 200px;
  height: 450px;
  max-height: 600px;
  background-color: rgba(166, 191, 209, 0.5);
  border: 1px solid #18124C;
  border-radius: 20px;
  position: absolute;
  left: 200px;
  top: 90px;
  padding: 10px;



}

.board {
  position: absolute;
  top: 45px;
  right: 200px;
  border: 20px solid #18124C;
  background-color: #18124C;
  border-radius: 10px;
  justify-content:center;
  align: center;
  display: flex;
  max-height: 515px;
  max-width: 600px;

}
.circle  {
 display: flex;
 border: 2px solid gray;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 2vw;
 height: 2vw;
 background-color: white;
 border-radius: 100%;
 position: absolute;

}


		#C1 div{
			height: 80px;
			width: 80px;
      border: 3px solid #18124C;


		}

		#C2 div {
			height: 80px;
			width: 80px;
			border: 3px solid #18124C;
		}

		#C3 div {
			height: 80px;
			width: 80px;
			border: 3px solid #18124C;
		}

		#C4 div {
			height: 80px;
			width: 80px;
			border: 3px solid #18124C;
		}

		#C5 div {
			height: 80px;
			width: 80px;
			border: 3px solid #18124C;
		}

		#C6 div {
			height: 80px;
			width: 80px;
		  border: 3px solid #18124C;
		}

		#C7 div{
			height:80px;
			width: 80px;
		  border: 3px solid #18124C;
		}




		.player1 div {
			height: 50px;
			border-radius:75px;
      position: relative;
      animation: fire 5s 1;
      transform: rotate(90);

      background: #FF6421;
      z-index: 5;

		}



    @keyframes fire {
      0% { background: #FFD968; }
      30% { background: coral;}
      40% { background: #F5FF00; }
      50% { background: #FFDB68; }
      60% { background: #FFAA00; }
      80% { background: #EB1515;}
      90% { background: #FF0000; }
      100% { background: #D1521C; }
    }

    @keyframes fireborder {
      0% { border-color: #FFD968; }
      30% { border-color: coral;}
      40% { border-color: #F5FF00; }
      50% { border-color: #FFDB68; }
      60% { border-color: #FFAA00; }
      80% { border-color: #EB1515;}
      90% { border-color: #FF0000; }
      100% { border-color: #D1521C; }
    }





.player2 div {
  /* background-color: black; */
  height: 50px;
  border-radius:75px;
  background-image: url('globe.gif');
  background-size: contain;
  z-index: 5;
    }

  #modal {
      background-color: white;
      background-color: rgba(0,0,0, 0.4);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      overflow: auto;
      display: none;
    }

    #modal-textbox {
    	background-color: #18124C;
      border: 1px double white;
      box-shadow: inset;
      color: white;
      height: 200px;
    	width: 500px;
    	border-radius: 20px;
    	margin: 150px auto;
    	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    	padding: 2%;
    }

#modal a:link {
  color: white;
}
#modal a:visited {
  color: white;
}

h1 {
  font-family:nasalization;
  font-size: 30px;
  margin-top: 5px;
}
label {
  font-size: 25px;
}

#input-box1, #input-box2 {
align: center;
margin-left: 8px;
height: 25px;
font-size: 20px;
color: #18124C;
}

#lilguy {
  position: absolute;
  bottom: 10px;
  left: 30px;

}

#openModal {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  right: 5px;
  top: 5px;


}
#blockquote {
  background-color: white;
  width: 240px;
  height: 120px;
  border-radius: 100%;
  color: black;
  font-size: 20px;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  position:absolute;
  bottom: 220px;
  left: 100px;
  word-wrap: break-word;
  text-align: center;
  transform: skewX(-20deg);
  border: 2px solid black;
  overflow: visible;


}

#blockquote a:visited {
color: white;
}

#circle1 {
  position:absolute;
  bottom: 184px;
  left: 235px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  background-color: white;
  border: 1px solid black;

}
#circle2 {
  border: 1px solid black;
  position:absolute;
  bottom: 195px;
  left: 210px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: white;
}

#footer a {
  color: white;
}
#footer a:visited {
  color: white;

}
